@import "abstract/variables";

@import "components/country";
@import "components/button";

@import "base/reset";
@import "base/typography";

@import "layout/header";
@import "layout/countries";
@import "layout/countryDetails";

@import "themes/dark";

body {
	font-family: $NunitoSans;
	background-color: $veryLightGray;
	color: $veryDarkBlueLM;
	// max-width: 1440px;
	font-size: 14px;
}
