.countryDetails {
	padding: 2rem 1.25rem;

	.countryPropsContainer {
		margin: 0 auto;
		width: 100%;
		max-width: 500px;
	}

	img {
		display: block;
		width: 100%;
		max-width: 500px;
		height: auto;
		object-fit: cover;
		margin-bottom: 3rem;
	}

	h1 {
		font-size: 1.6rem;
		margin-bottom: 2rem;
	}

	.countryPropsOne,
	.countryPropsTwo {
		margin-bottom: 3rem;

		h2 {
			font-weight: 600;
			font-size: 1.25rem;
			// margin-bottom: 0.5rem;

			span {
				font-weight: 300;
			}
		}
	}

	.borderCountries {
		h1 {
			font-weight: 600;
			font-size: 1.25rem;
		}
		.borderCountriesContainer {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-start;
			// margin: 0 auto;
			width: 100%;
			max-width: 500px;
		}
	}
}

@media (min-width: 1160px) {
	// The whole component
	.countryDetails {
		min-height: calc(100vh - 92px);
		height: auto;

		//  whole component minus back button
		.countryPropsContainer {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			margin: 0 auto;
			width: 100%;
			max-width: none;
		}

		img {
			max-width: 600px;
			margin-right: 3rem;
		}

		.countryProps {
			max-width: 800px;
			width: 100%;
		}

		// details of country without border countries
		.countryPropsDetailsContainer {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
		}

		.countryPropsOne {
			margin-right: 1rem;
		}

		.countryPropsTwo {
			max-width: 300px;
			width: 100%;
		}

		.borderCountries {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: flex-start;
			flex-wrap: wrap;

			h1 {
				width: 100%;
				max-width: 190px;
			}
		}
	}
}

@media (min-width: 768px) {
	.countryDetails {
		padding: 2rem 5rem;
	}
}
