.countries {
	padding: 2rem 1.25rem;
	transition: background-color 400ms;
}

.searchBar {
	position: relative;
	margin-bottom: 2.5rem;
	.fa-search {
		position: absolute;
		top: 50%;
		left: 2rem;
		transform: translateY(-50%);
		color: $darkGray;
		font-size: 1.25rem;
	}

	input[type="text"] {
		width: 100%;
		border: 0;
		background-color: $white;
		padding: 1.25rem 0 1.25rem 4.5rem;
		box-shadow: 0px 0px 5.5px -3px $darkGray;
		border-radius: 7px;
	}

	input[type="text"]::placeholder {
		color: $darkGray;
		font-size: 0.95rem;
		opacity: 0.7;
	}
}

.filter {
	position: relative;
	max-width: 250px;
	width: 100%;
	background-color: $white;
	border-radius: 7px;
	box-shadow: 0px 0px 5.5px -3px $darkGray;
	font-size: 0.9rem;
	font-weight: 600;
	cursor: pointer;

	div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.25rem 1.25rem 1.25rem 2rem;
	}

	.regions {
		display: none;
		position: absolute;
		top: 4.25rem;
		left: 0;
		background-color: $white;
		max-width: 250px;
		width: 250px;
		border-radius: 7px;
		box-shadow: 0px 0px 5.5px -3px $darkGray;

		ul {
			list-style: none;

			li {
				margin-bottom: 0.5rem;
			}
		}
	}

	.openRegions {
		display: block;
	}
}

.countryContainer {
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

@media (min-width: 768px) {
	.countries {
		padding: 3rem 5rem;

		.searchAndFilterContainer {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
			height: 60px;
		}
	}

	.searchBar {
		margin-bottom: 0rem;
		width: 100%;
		max-width: 500px;
		height: inherit;
		margin-right: 3rem;

		input[type="text"] {
			height: inherit;
		}
	}

	.filter {
		height: inherit;
		.filterHeading {
			height: inherit;
		}
	}
}
